<div class="App">
  <header class="App-header">
    <img src="../assets/angular.svg" class="App-logo" alt="logo" />
    <router-outlet></router-outlet>
    <br />
    <button routerLink="/remote/multiply">Next</button>
    <span>
      <span>Learn </span>
      <a
        class="App-link"
        href="https://angular.io/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Angular
      </a>
      <span> and </span>
      <a
        class="App-link"
        href="https://ngrx.io/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Ngrx
      </a>
    </span>
  </header>
</div>
